<!-- card empresa_redes-->
<div class="card mt-4">
    <div class="card-header">
        <h5>
            Registro general para el diagnostico de la empresa
        </h5>
        <div class="actions">
            <button id="btn-crear" class="c-btn-circle">
                <i class="ti ti-circle-plus"></i>
            </button>
        </div>
    </div>
    <div class="card-body">
        {{!-- <div class="row">
            <div class="col-6">
                <button id="btn_modal" type="button" class="btn btn-success">Crear nuevo</button>
            </div>
        </div>
        <hr /> --}}
        <div class="table-responsive">
            <table id="tablaDiagnostico" style="white-space: nowrap;">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div> <!-- end card empresa_redes-->

<script src="/controladores/diagnostico.js" type="module"></script>